@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    
}

.main-container{
    margin: 150px auto;
    text-align: center;
    background-color: white;
    width: 22%;
    border: 24px solid white;
    border-radius: 25px;

}

.image img{
    border-radius: 15px;
    width: auto;
    height: auto;
    max-width: 100%;

}

.text h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    width: 89%;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    color: hsl(218, 44%, 22%);
    
}

.text p{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    width: 80%;
    text-align: center;
    padding-top: 25px;
    margin:auto;
    font-weight: 400;
    color: hsl(220, 15%, 55%)
    
}

.attribution { 
    padding-top: 10px;
    font-size: 11px; text-align: center; 
    padding-bottom: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
